@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Source+Code+Pro:wght@600&display=swap');
html{
	font-size: 100%;
  width:100%;
  height:100%;
}
*, *::before, *::after{
	box-sizing: border-box;
}

body{
  font-size: 1rem;
/*  font-family: 'Nanum Gothic', 'Hiragino Kaku Gothic ProN', 'Yu Gothic UI Light', sans-serif;*/
    font-family:  'Source Code Pro','Noto Sans JP';
  line-height:1.5;
  letter-spacing: 1px;
  color:#fff;
}
body::before{
  position: fixed;
  content: '';
  width: 100%;
  height: 100%;
/*  background-image: url(../img/top2.png);*/
background-color: black;
  background-size: cover;
  z-index: -10;
}
h1, h2, h3, h4{
  margin: 10px 0;
  font-weight: lighter;
  letter-spacing: 1px;
}
h1{
  background: url('../img/h1.png') no-repeat left;
  padding-left: 50px;
  height: 40px;
  font-size: 2.5rem;
  line-height: 40px;
}
h2{
  font-size: 1.8rem;
  padding: 0 10px;
  background-color: #000;
}
h2::first-letter{
  color: red;
  font-size: 2.5rem;
}
h2.ja{
  font-size: 1.5rem;
}
h3{
  font-size: 1.5rem;
}
h3.ja{
  font-size: 1.3rem;
}
h4{
  font-size: 1.1rem;
}
a{
  text-decoration:none;
  color:red;
}
a:hover{
  opacity: 0.9;
}
p{
  margin: 20px 0;
}
ul, ol{
	list-style-type: none;
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}


/*ヘッダー*/
.header{
  padding: 10px 0;
  text-align: right;
}
.header h1{
  display: inline-block;
  margin: 10px;
  width: auto;
}

/*コンテンツ*/
.contents{
  padding: 30px;
}
.box{
  position: relative;
  margin: 0 0 40px;
  padding: 70px 40px 30px;
  background-color: #000;
      border: solid 3px #fff;
}
.box::before{
  position: absolute;
  top: 40px;
  left: 5%;
  display: block;
  content: '';
  width: 90%;
  border-top: 1.5px dotted red;
}
.box h2{
  display: inline-block;
  width: auto;
  position: absolute;
  top: 0;
  left: 10%;
  background-color: #000;
}

/*更新履歴　About Link*/
.news li, .about-link li{
  margin: 15px 0;
}
.news time, .about-link .koumoku{
  display: inline-block;
  padding: 0 10px;
  width: 120px;
  color: #000;
  background-color: red;
  border-radius: 8px;
}
.news .text, .about-link .text{
  padding-left: 10px;
}

/*Mainページ*/
.novel{
	display: inline-block;
	padding: 0 10px;
	text-align: center;
}
.novel + .novel{
	border-left: 1px solid #ddd;
}
.illust{
	display: inline-block;
}
.centering{
	text-align: center;
}
img.illust{
	margin: 20px 0;
	max-width: 100%;
}
/*Linkページ*/
.text-link{
	display: inline-block;
	margin: 10px 0;
	padding: 0 10px;
	text-align: center;
}
.text-link + .text-link{
	border-left: 1px solid #ddd;
}
.ban-link1, .ban-link2{
	padding: 10px;
}
.ban-link1{
	display: inline-block;
}
.ban-link2 span{
	display: inline-block;
	min-width: 220px;
}

/*フッター*/
.footer{
  text-align: center;
  font-size: 0.8rem;
  line-height: 0;
}

.square_contents {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
}

.square_contents a {
  display: block;
  position: relative;
  width: 22%;
  margin: 1%;
}

.square_contents a::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square_contents img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
}

.hoverop:hover{
  filter: brightness(200%);
}


/* --------------------------------
 * 768px～
 * -------------------------------- */
   @media (min-width:768px) {
  /*レイアウト*/
  .wrapper{
    height: 100%;
  }
  .right{
    position: fixed;
    top: 10%;
    padding-left: 25%;
    padding-right: 5%;
    width: 100%;
    height: 80%;
    background-color: black;
      background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/top2.png);
        background-size: cover;
/*    box-shadow: 0px 0px 15px 20px black;*/
    overflow-y: auto;
  }
  /*メニュー*/
  #menubtn{
    display: none;
  }
  .menu{
    position: fixed;
    top: 0;
    left: 8%;
    padding-top: 10%;
    width: 15%;
    height: 100%;
    background-color: black;
    border-right: 3px solid white;
    border-left: 3px solid white;
    z-index: 10;
  }
  .menu li{
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
  }
  .menu li:hover{
    background-color: #333;
  }
  .menu li.to-index{
    margin: 10px 0;
  }
  .menu li:hover.to-index{
    background-color: transparent;
  }
  .menu li.to-index a:hover{
    opacity: 0.5;
  }
}

/* --------------------------------
 * ～767px
 * -------------------------------- */
@media (max-width:767px) {

  .square_contents a {
  display: block;
  position: relative;
  width: 31%;
  margin: 1%;
}
  body{
    color: #fff;
  }
  body::before{
    content: '';
    background-position: right;
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h2::first-letter{
    font-size: 2rem;
  }
  h3{
    font-size: 1.3rem;
  }
  h4{
    font-size: 1.2rem;
    font-weight: normal;
  }
  img{
    max-width: 100%;
  }
  /*Indexページ*/
  .index{
    margin: 30vh 0;
    padding: 0 10px;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 15px 20px rgba(255, 255, 255, 0.8);
  }
  .index h1{
    font-size: 2rem;
  }
  .header{
    height: 65px;
    color: #fff;
  }
  .header h1{
    margin: 5px 10px;
  }
  /*コンテンツ*/
  .contents{
    padding: 0;
  }
  .box{
    margin: 0 0 20px;
    padding: 50px 10px 20px;
    box-shadow: none;
    opacity: 1;
  }
  .box::before{
    top: 35px;
  }
  /*更新履歴　About Link*/
  .news time, .about-link .koumoku{
    display: block;
    margin-bottom: 5px;
  }
  /*Mainページ*/
  .story{
    padding: 60px 20px 30px;
    background-color: #fff;
    opacity: 0.95;
  }
  .illust-page{
    padding: 70px 0 30px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  /*Linkページ*/
  .text-link{
    display: block;
    text-align: left;
  }
  .text-link + .text-link{
    border: 0;
  }
  .text-link:last-child{
    margin-bottom: 20px;
  }


  /*フッター*/
  .footer{
    color: #fff;
  }

  /*メニュー*/
  #menubtn{
    position: fixed;
    top: 15px;
    left: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
    z-index: 2;
  }
  #menubtn i{
    color: crimson;
    font-size: 25px;
    line-height: 35px;
  }
  .menu{
    display: none;
    position: fixed;
    width: 100%;
    background-color: #000;
    z-index: 1;
  }
  .menu li{
    color: #fff;
    padding:  10px 0 10px 70px;
    font-size: 1.5rem;
  }
}
